<launch>
  <!-- iot.launch exists only for backward compatibility between
       the version prior to 0.9.0 -->

  <arg name="configfile" default="$(find iot_bridge)/config/items.yaml" />
  <arg name="iot_server_launchfile"
       default="$(find iot_bridge)/launch/openhab.launch" />
  
  <include file="$(arg iot_server_launchfile)"> 
    <arg name="configfile" value="$(arg configfile)" />
  </include>
</launch>
